NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_Y29tbXVuYWwtcmFiYml0LTIxLmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_sV4UnVkvOP8wnedElIQpxwB3hMpuuFENxGMPjLyCEq
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up
# DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiN2Y1YTY3YmYtMzMyZC00NDY3LTljZGEtNDc3NWE0ZTlhMzQ4IiwidGVuYW50X2lkIjoiMjQ4MTQwNTMwMGVkYjg1MDE0MjU2YWQ3MDI5YzRlMDRjMmNlNzVmZmU2Nzc4Y2UxZmVkZDc0N2NjNGZmOWFlZCIsImludGVybmFsX3NlY3JldCI6ImE1ZGI0OWMxLTgxMTUtNDA3ZS04YzMwLTQ1ZGY0NWQ3NTljMCJ9.NkoT5jTAvD6HaePICuCBYiVYldeiuptKFIKjzMFqD3E"
# PULSE_API_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcGlfa2V5IjoiN2Y1YTY3YmYtMzMyZC00NDY3LTljZGEtNDc3NWE0ZTlhMzQ4IiwidGVuYW50X2lkIjoiMjQ4MTQwNTMwMGVkYjg1MDE0MjU2YWQ3MDI5YzRlMDRjMmNlNzVmZmU2Nzc4Y2UxZmVkZDc0N2NjNGZmOWFlZCIsImludGVybmFsX3NlY3JldCI6ImE1ZGI0OWMxLTgxMTUtNDA3ZS04YzMwLTQ1ZGY0NWQ3NTljMCJ9.NkoT5jTAvD6HaePICuCBYiVYldeiuptKFIKjzMFqD3E"